.App {
  text-align: center;
  
}
body{
  margin: 0 auto;
  color:#195190FF;
  background-color:#A2A2A1FF;
}

.userList{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color:#195190FF;
  font-size:1.5rem;
  font-family: cursive;
  margin: 2% 10%;
  padding: 3% 5%;
}

.user{
  display: flex;
  font-family: cursive;
  margin-bottom: 2rem;
  padding: 1rem 1.5rem;
  box-shadow: 1px 2px #195190FF;
}
h1{
  padding:2rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: cursive;
}
h3{
  margin-top: 0rem;
  padding-bottom: 2rem;
}

.newLink{
  text-decoration: none;
  color:darkorange;
}