@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.App-logo {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 25%;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */

/* NAVBAR here
  ----------------------*/
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.home .pTag-func {
  font-size: 24px;
  margin: 100px 0;
  text-align: center;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/* .home p {
  text-align: center;
} */
div .buttons {
  max-width: 600px;
  display: flex;
  align-self: auto;
  justify-content: space-between;
  background: #c3c3c3;
  margin: 10px 0;
  padding: 8px;
  border-radius: 24px;
  cursor: pointer;
}
div button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 24px;
  cursor: pointer;
}
.blog-title {
  margin-top: 50px;
}
/* blog previews / list 
-------------------------*/
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview a {
  text-decoration: none;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px #bcbcbc;
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

/* blog details / id 
-----------------------*/
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form 
-------------------------*/
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
  text-align: center;
}
.create p {
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
